name: Cypress Tests

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container: cypress/browsers:node18.12.0-chrome106-ff106
    steps:
      - name: Checkout repository
        uses: actions/checkout@latest

      - name: Set up Node.js
        uses: actions/setup-node@latest
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Start application
        run: npm start & sleep 10

      - name: Run Cypress tests
        uses: cypress-io/github-action@latest
        with:
          start: npm start
          browser: chrome
          wait-on: 'http://localhost:3000'

- name: Upload screenshots
  uses: actions/upload-artifact@latest
  if: failure()
  with:
      name: cypress-screenshots
      path: cypress/screenshots
