stages:
  - build
  - test

build:
  stage: build
  image: node:14
  script:
    - npm install

test:
  stage: test
  image: cypress/included

  script:
    - npm install
    - npm start &
    - sleep 10
    - npx cypress run --config baseUrl=http://localhost:8080

rules:
  - exists